.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 100px);
    background: url('https://github.com/R5G1/image-data/blob/master/full/173full.jpg?raw=true');
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        height: 255px;
        width: 100%;

    }

    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-name: game;
    animation-timing-function: linear;
}

@keyframes game {
    0% {
        background-size: 100% 100%;
    }

    50% {
        background-size: 120% 120%;
    }

    100% {
        background-size: 100% 100%;
    }
}
