.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {}

.contentItem {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.8);
}